body {
  background-color: black;
}
.container {
  background: url("./images/flower.jpg");
  border: 1px solid rgb(250, 247, 247);
  margin: 50px;
}
#head {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  line-height: 35px;
}
#mid-head {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
}
#descr {
  font-family:monospace;
  font-size: 0.9rem;
}
.main-card {
  background: white;
  padding: 50px 20px;
  border: 1px #937f7f;
  margin: 50px 100px;
  text-align: center;
  box-shadow: 0px 9px 9px #b8afaf;
  
}
.supervisor {
  border-top: 4px solid rgb(64, 224, 208);
  box-shadow: 0px 4px 6px #b8afaf, 0px 4px 2px #b8afaf;
  height: fit-content;
  width: fit-content;
  position: relative;
  flex-direction: row;
  margin: 20px 0px 30px 40px;
  text-align: left;
  box-sizing: border-box;
  
}
.image{
  width: 40px;
  margin: 30px 40px;
  
  
}
.team {
  border-top: 4px solid rgb(241, 21, 21);
  box-shadow: 0px 4px 6px #b8afaf, 0px 4px 2px #b8afaf;
  height: fit-content;
  width: fit-content;
  position: relative;
  flex-direction: row;
  margin: 20px 0px 30px 40px;
  text-align: left;
}
.karma {
  border-top: 4px solid rgb(236, 144, 90);
  box-shadow: 0px 4px 6px #b8afaf, 0px 4px 2px #b8afaf;
  height: fit-content;
  width: fit-content;
  position: relative;
  flex-direction: row;
  margin: 20px 0px 30px 40px;
  text-align: left;
}
.calculator {
  border-top: 4px solid rgb(236, 144, 90);
  box-shadow: 0px 4px 6px #b8afaf, 0px 4px 2px #b8afaf;
  height: fit-content;
  width: fit-content;
  position: relative;
  flex-direction: row;
  margin: 20px 0px 30px 40px;
  text-align: left;
}
